%%
%% rebar.config
%%
{build_dir, "{{output_dir}}/../.."}.

%%
%% app.config
%%
{run_user_home,                 "/data/ddbpg_autopublisher"}.
{log_path,                      "/data/ddbpg_autopublisher/log"}.

%%
%% etc/vm.args
%%
{node,                          "ddbpg_autopublisher@127.0.0.1"}.
{crash_dump,                    "/data/ddbpg_autopublisher/log"}.
{distributed_cookie,            "ddbpg_autopublisher_cookie"}.
{run_user,                      "dalmatiner"}.

{cuttlefish_conf,               "ddbpg_autopublisher.conf"}.

{platform_etc_dir,              "/data/ddbpg_autopublisher/etc"}.
{platform_bin_dir,              "./bin"}.
{platform_lib_dir,              "./lib"}.
{platform_log_dir,              "/data/ddbpg_autopublisher/log"}.

{bugsnag_app_version,           "0.1.0"}.
{service,                       "ddbpg_autopublisher"}.
